In [ ]:
fruits=["Apple","Banana","Cherry"]
fruits.insert(1,"Lemon")
print(fruits[-1])
fru2=["Watermelon","Longan","Pineapple","Dragon Fruit"]
fruits.extend(fru2)
for x in range(2,5):
  print(fruits[x])
print("The number of items in the list is : ",len(fruits))
for i in range(len(fruits)):
    if fruits[i] == 'Apple':
        fruits[i] = 'Kiwi'
print("The new list is : ",fruits)

Cherry
Banana
Cherry
Watermelon
The number of items in the list is :  8
The new list is :  ['Kiwi', 'Lemon', 'Banana', 'Cherry', 'Watermelon', 'Longan', 'Pineapple', 'Dragon Fruit']

In [ ]:
tup1="Vasai Road","Naigaon","Bhayendar","Mira Road","Dahisar"
a,b,c,d,e=tup1
print(a,c,e)
tup2="Borivali","Kandivali","Malad","Goregaon","Ram Mandir"
print(tup2)
tup3=tup1+tup2
for i in range(len(tup3)):
  print(tup3[i])
z,*y,x=tup3
print(z,y,x)
a,*_b,c=tup1
print(a,b,c)

Vasai Road Bhayendar Dahisar
('Borivali', 'Kandivali', 'Malad', 'Goregaon', 'Ram Mandir')
Vasai Road
Naigaon
Bhayendar
Mira Road
Dahisar
Borivali
Kandivali
Malad
Goregaon
Ram Mandir
Vasai Road ['Naigaon', 'Bhayendar', 'Mira Road', 'Dahisar', 'Borivali', 'Kandivali', 'Malad', 'Goregaon'] Ram Mandir
Vasai Road Naigaon Dahisar

Discard, Remove, Clear, Pop, Add, Update

In [ ]:
s1={"France","Italy","Switzerland","Romania","Netherlands","Denmark"}
print(s1)
s1.pop()
print(s1)
s1.add("Germany")
print(s1)
s2={"Lithuania","Iceland","Spain","Finland"}
s1.update(s2)
print(s1)
s1.discard("Netherlands")
print(s1)
s1.remove("Romania")
print(s1)
s1.clear()
print(s1)

{'Italy', 'Romania', 'Netherlands', 'Switzerland', 'Denmark', 'France'}
{'Romania', 'Netherlands', 'Switzerland', 'Denmark', 'France'}
{'Romania', 'Netherlands', 'Germany', 'Switzerland', 'Denmark', 'France'}
{'Lithuania', 'Romania', 'Netherlands', 'Germany', 'Spain', 'Switzerland', 'Denmark', 'Iceland', 'Finland', 'France'}
{'Lithuania', 'Romania', 'Germany', 'Spain', 'Switzerland', 'Denmark', 'Iceland', 'Finland', 'France'}
{'Lithuania', 'Germany', 'Spain', 'Switzerland', 'Denmark', 'Iceland', 'Finland', 'France'}
set()

In [ ]:
s1={1,3,5,7,9,11,13}
s2={0,2,4,6,8,10,12}
s3={0,1,3,4,6,7,9,10}
print(s1|s2)
print(s1|s3)
print(s2.union(s3))
print(s1&s3)
print(s2.intersection(s3))
print(s1-s3)
print(s3.difference(s1))
print(s2-s3)
print(s3.difference(s2))
print(s1^s3)
print(s2.symmetric_difference(s3))
print(1 in s1)
print(1 in s2)
for number in s3:
  print(number)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}
{0, 1, 3, 4, 5, 6, 7, 9, 10, 11, 13}
{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 12}
{1, 3, 9, 7}
{0, 10, 4, 6}
{13, 11, 5}
{0, 10, 4, 6}
{8, 2, 12}
{1, 3, 9, 7}
{0, 4, 5, 6, 10, 11, 13}
{1, 2, 3, 7, 8, 9, 12}
True
False
0
1
3
4
6
7
9
10