In [ ]:
#WAP to take two numbers in python and show their addition, multiplication
#also take two strings with different quotes and concatenate them
a=int(input("Enter the first number : "))
b=int(input("Enter the second number : "))
str1=input("Enter the first string : ")
str2=input("Enter the second string : ")
sumstr=str1+str2
print("The concatenated string is : ",sumstr," of length ",len(sumstr))
li_en=list(enumerate(sumstr))
print("The enumerated string is : ",li_en)
li=list(sumstr)
del li[5]
print(li)
c=a+b
print("The addition of ",a," and ",b," is ",c)
c=a*b
print("The multiplication of ",a," and ",b," is ",c)

Enter the first number : 12
Enter the second number : 49
Enter the first string : Ojas
Enter the second string : Kambli
The concatenated string is :  Ojas Kambli  of length  11
The enumerated string is :  [(0, 'O'), (1, 'j'), (2, 'a'), (3, 's'), (4, ' '), (5, 'K'), (6, 'a'), (7, 'm'), (8, 'b'), (9, 'l'), (10, 'i')]
['O', 'j', 'a', 's', ' ', 'a', 'm', 'b', 'l', 'i']
The addition of  12  and  49  is  61
The multiplication of  12  and  49  is  588

In [ ]:
stations=["Borivali","Kadivali","Malad","Goregaon","Ram Mandir","Jogeshwari","Andheri"]
print("The original list is : ",stations)
stations.append("Vile parle")
print("The updated list is : ",stations)
st_1=["Vile parle","Khar Road"]
stations.extend(st_1)
print("The updated list is : ",stations)
print("Vile parle appears in the list ",stations.count("Vile parle")," times")
stations.insert(0,"Dahisar")
print("The updated list is : ",stations)
stations.remove("Vile parle")
print("The updated list is : ",stations)
stations.pop()
print("The updated list is : ",stations)
print("The position of Malad is ",stations.index("Malad"))
stat=stations.copy()
stations.sort()
print("The sorted list is ",stations)
stations.reverse()
print("The reversed list is ",stations)
stations.clear()
print("The updated list is : ",stations)
print("The List was ",stat)

The original list is :  ['Borivali', 'Kadivali', 'Malad', 'Goregaon', 'Ram Mandir', 'Jogeshwari', 'Andheri']
The updated list is :  ['Borivali', 'Kadivali', 'Malad', 'Goregaon', 'Ram Mandir', 'Jogeshwari', 'Andheri', 'Vile parle']
The updated list is :  ['Borivali', 'Kadivali', 'Malad', 'Goregaon', 'Ram Mandir', 'Jogeshwari', 'Andheri', 'Vile parle', 'Vile parle', 'Khar Road']
Vile parle appears in the list  2  times
The updated list is :  ['Dahisar', 'Borivali', 'Kadivali', 'Malad', 'Goregaon', 'Ram Mandir', 'Jogeshwari', 'Andheri', 'Vile parle', 'Vile parle', 'Khar Road']
The updated list is :  ['Dahisar', 'Borivali', 'Kadivali', 'Malad', 'Goregaon', 'Ram Mandir', 'Jogeshwari', 'Andheri', 'Vile parle', 'Khar Road']
The updated list is :  ['Dahisar', 'Borivali', 'Kadivali', 'Malad', 'Goregaon', 'Ram Mandir', 'Jogeshwari', 'Andheri', 'Vile parle']
The position of Malad is  3
The sorted list is  ['Andheri', 'Borivali', 'Dahisar', 'Goregaon', 'Jogeshwari', 'Kadivali', 'Malad', 'Ram Mandir', 'Vile parle']
The reversed list is  ['Vile parle', 'Ram Mandir', 'Malad', 'Kadivali', 'Jogeshwari', 'Goregaon', 'Dahisar', 'Borivali', 'Andheri']
The updated list is :  []
The List was  ['Dahisar', 'Borivali', 'Kadivali', 'Malad', 'Goregaon', 'Ram Mandir', 'Jogeshwari', 'Andheri', 'Vile parle']

In [ ]:
#List comprehension
fact=1
lim=int(input("Enter the number you want the factorial of "))
for x in range(1,lim+1):
  fact*=x
print("The factorial of ",lim," is ",fact)

Enter the number you want the factorial of7
The factorial of  7  is  5040

In [ ]:
num=[]
for x in range(1,6):
  num.append(x*x)
print(num)
num=[num*num for num in range(1,6)]
print(num)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]